<form action="callin" method="POST">
{% csrf_token %}

{% if message %}
<div class="message">
{{ message }}
</div>
{% endif %}

Call in an answer for <b>{{ puzzle.title }}</b>:
<br/>
<input type="hidden" name="puzzle" value="{{ puzzle.id }}" />
<input type="text" name="answer" /><br/>
Did you backsolve this answer? <input type="checkbox" name="backsolve" value="1" /><br/>

<br/>
Incorrect answers:
<ul>
{% for answer in past_answers %}
<li {% if not answer.handled %}class="pending"{% endif %} >{{ answer.answer }}</li>
{% endfor %}
</ul>
<br/>

<input type="submit" value="Call in"><br/>

</form>
