<form action="callin" method="POST">
{% csrf_token %}

{% if message %}
<div class="message">
{{ message }}
</div>
{% endif %}

Call in an answer for <b>{{ puzzle.title }}</b>:
<br/>
<input type="hidden" name="puzzle" value="{{ puzzle.id }}" />
<input type="text" name="answer" /><br/>
Did you backsolve this answer? <input type="checkbox" name="backsolve" value="1" /><br/>

<br/>
Previous answers:
<ul>
{% for answer in past_answers %}
<li>{% if not answer.handled %}(just called in){% endif %}{{ answer.answer }}</li>
{% endfor %}
</ul>
<br/>

<input type="submit" value="Call in" name="action"><br/>

You have {{team.event_points}} event points; buying an answer costs {{team.answer_event_point_cost}}.  <br/>
{% if team.event_points >= team.answer_event_point_cost %}
<input type="submit" value="Buy this answer with event points" name="action"><br/>
{% endif %}
</form>
