<form action="general" method="POST">
{% csrf_token %}

{% if message %}
<div class="message">
{{ message }}
</div>
{% endif %}

Request a callback:
<br/>

Call back number:<br/>
<select name="phone">
{% for phone in team.phone_set.all %}
<option value="{{phone.id}}">{{ phone.phone }}</option>
{% endfor %}
</select>

Reason: <select name="queue">
{% for name, queue in queues %}
<option value="{{ queue }}">{{name}}</option>
{% endfor %}
</select>
<br/>
What's up?<br/>
<textarea rows="10" cols="70" name="reason"></textarea>
<br/>

<input type="submit" value="Request a callback"><br/>

</form>
